@import "./variable";

@mixin btn-deco {
  font-size: $btn-font-size;
  padding: 0.9rem 1.1rem;
  font-weight: 600;
  border: 1px solid black;
}

// Khai báo kích thước tương ứng với màn hình thiết bị

$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}

@mixin searchBar {
  background-color: #f2f3f5;
  input {
    padding: 0.5rem 0.5rem;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  i {
    font-size: 1.2rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border: none;
    text-align: center;
    color: $btn-color;
    transition: all 0.5s;
    &:hover {
      color: white;
      background-color: $btn-color;
    }
  }
}

/*Carousel item mixin*/
@mixin content-item-hover {
  &:hover {
    cursor: pointer;
    .course-image {
      &::after {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

@mixin item-img {
  position: relative;

  img {
    width: 100%;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #21252973;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

@mixin h2-title {
  padding-top: 1rem;
  font-size: $btn-font-size;
  color: $small-title-color;
  font-weight: bold;
}

@mixin author {
  color: $small-text-color;
}

@mixin rating-star {
  i {
    color: $star-color;
  }
  span {
    color: $small-text-color;
    font-weight: 900;
    span {
      font-weight: 100;
    }
  }
}

@mixin price {
  .old-price {
    text-decoration: line-through;
  }
  .promo-price {
    font-size: 1.2rem;
    font-weight: 900;
  }
}
