.course {
  margin-top: 2rem;
  .course_left {
    background: $search-color;

    .course__intro {
      align-self: center;
      padding-left: 1rem;
    }
    @include Responsive(LG) {
      display: none !important;
    }
  }
  .course__content {
    width: 65% !important;
    @include Responsive(LG) {
      width: 100% !important;
    }
    .content-header {
      border-bottom: 1px solid #dedfe0;
      .header {
        li {
          &:first-child {
            &::after {
              content: "";
              height: 4px;
              display: block;
              background-color: darkblue;
            }
          }
          a {
            color: $small-text-color;
            font-weight: bold;
            font-size: $menu-text-size;
          }
        }
      }
    }
    .courses-content-items {
      margin-top: 2rem;
      .content-item {
        &:hover {
          cursor: pointer;
        }
        h2 {
          padding-top: 1rem;
          font-size: $btn-font-size;
          color: $small-title-color;
          font-weight: bold;
        }
        .author {
          color: $small-text-color;
        }
        .rating-stars {
          i {
            color: $star-color;
          }
          span {
            color: $small-text-color;
            font-weight: 900;
            span {
              font-weight: 100;
            }
          }
        }
        .prices {
          .old-price {
            text-decoration: line-through;
          }
          .promo-price {
            font-size: 1.2rem;
            font-weight: 900;
          }
        }
      }
    }
  }
}
.slick-prev:before,
.slick-next:before {
  color: blue;
  font-size: 2.2rem;
  margin: auto;
  display: block;
  font-weight: bold;
  border: 1px solid gray;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  line-height: 3.2rem;
  background-color: solid white !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
}
