.course {
  margin-top: 2rem;
  width: 95%;
  .course_left {
    background: $search-color;

    .course__intro {
      align-self: center;
      padding-left: 1rem;
    }
    @include Responsive(LG) {
      display: none !important;
    }
  }
  .course__content {
    width: 70% !important;
    @include Responsive(LG) {
      width: 100% !important;
    }
    .content-header {
      border-bottom: 1px solid #dedfe0;
      .header {
        li {
          &:first-child {
            &::after {
              content: "";
              height: 4px;
              display: block;
              background-color: darkblue;
            }
          }
          a {
            color: $small-text-color;
            font-weight: bold;
            font-size: $menu-text-size;
          }
        }
      }
    }
    .courses-content-items {
      margin-top: 2rem;

      .content-item {
        @include content-item-hover;

        .course-image {
          @include item-img;
          position: relative;
        }

        h2 {
          @include h2-title;
        }
        .author {
          @include author;
        }
        .rating-stars {
          @include rating-star;
        }
        .prices {
          @include price;
        }
      }
    }
  }
}
