#header {
  .header__left {
    .logo {
      flex-grow: 1;
      img {
        width: 10rem;
      }
    }
    .categories {
      flex-grow: 1;
      color: $small-text-color;
      i {
        font-size: $menu-text-size;
      }
      span {
        font-size: $menu-text-size;
      }
    }
    .header__search {
      flex-grow: 5;
      background-color: #f2f3f5;
      input {
        width: 100%;
        padding: 0.5rem 0.5rem;
        border: none;
        background-color: transparent;
        &::placeholder {
          font-size: 1.1rem;
          font-weight: 500;
        }
        &:focus {
          outline: none;
        }
      }
      i {
        font-size: 1.2rem;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.2rem;
        border: none;
        text-align: center;
        color: $btn-color;
        transition: all 0.5s;

        &:hover {
          color: white;
          background-color: $btn-color;
        }
      }
    }
  }
  .header__right {
    .myNavBar {
      width: 100% !important;
      justify-content: space-around !important;
      li {
        &:first-child {
          @include Responsive(XL) {
            display: none;
          }
          &:hover {
            background-color: #f2f3f5;
          }
        }
        &:nth-child(2) {
          @include Responsive(XL) {
            display: none;
          }
          &:hover {
            background-color: #f2f3f5;
          }
        }
        a {
          font-size: $menu-text-size;
          color: $small-text-color;
          text-decoration: none;
        }
        &:last-child {
          .btn-log-in {
            @include btn-deco;
            &:hover {
              color: black;
            }
          }
          .btn-sign-up {
            @include btn-deco;
            background-color: $btn-color;
            color: white;
            border: transparent;
            &:hover {
              background-color: $btn-hover-color;
            }
          }
        }
      }
    }
  }
}
